settings:
  application:
    env: dev
    host: 0.0.0.0
    isinit: false
    jwtsecret: 123abc
    logpath: temp/logs/log.log
    name: go-demo
    port: 8000
    readtimeout: 1
    writertimeout: 2
  database:
    database: go-admin-db
    dbtype: mysql
    host: 127.0.0.1
    password: 123456
    port: 3306
    username: root
  redis:
    addr: 0.0.0.0:6379
    db: 0
    password: password
    readtimeout: 50
